.idea/
**/venv/
venv/
**/__pycache__/
__pycache__
**/.cache/
.vscode
bastion/temp*
temp
temp.pub
.DS_Store

*.zip
build
node_modules
.pulumi
test-input.json
venv
Pulumi*fos*
/.idea/
/.vs/
/**/Pulumi.*.yaml

**cov
pulumi_output.json
htmlcov
.coverage
**/not_needed

**/*.lock